#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(235, 106, 59);;
    /* background-color: lightcoral; */
    width:60%;
    height:40%;
    border-radius: 5px;
    box-shadow: 5px 10px black;
    text-align: center;
    margin:auto;
    padding: 20px;
    margin-top: 2%;
}
#add{
    background-color: rgb(177, 173, 167);
    height: 80px;
    width: 80px;
    border-radius: 40px;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 40px;
}
#add:hover{
    background-color: rgb(235, 106, 59);;
}