/* UpdatePassword.css */

.update-password-container {
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
  }
  
  .update-password-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .update-password-container label {
    display: block;
    margin-bottom: 8px;
  }
  
  .update-password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .update-password-container p {
    color: red;
  }
  
  .update-password-container button {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-password-container button:hover {
    background-color: #0056b3;
  }
  